.aside {
    width: 15%;
    height: 100%;
    background-color: #aaa69d;
    border-top-left-radius: 10px;
    font-size: 24px;
    padding: 10px;
}

.aside > .aside__nav > .aside__ul > .aside__li {
    height: 20%;
    margin-bottom: 10px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#ddl-trigger:checked ~ .aside > .aside__nav > .aside__ul > .aside__li:nth-child(1) > .label {
    background-color: #84817a;
    color: white;
}
#dml-trigger:checked ~ .aside > .aside__nav > .aside__ul > .aside__li:nth-child(2) > .label {
    background-color: #84817a;
    color: white;
}
#dcl-trigger:checked ~ .aside > .aside__nav > .aside__ul > .aside__li:nth-child(3) > .label {
    background-color: #84817a;
    color: white;
}
#tcl-trigger:checked ~ .aside > .aside__nav > .aside__ul > .aside__li:nth-child(4) > .label {
    background-color: #84817a;
    color: white;
}
