* {
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

body {
    padding-top: 100px;
    margin: auto;
    width: 1600px;
    height: 800px;
    display: flex;
}

.label {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}

input[name="sql-tab-trigger"] {
    display: none;
}

.blind {
    overflow: hidden;
    position: absolute;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.detail {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ced6e0;
}
